<div class="weather-header">
    <div class="location"></div>
    <div class="full-date"></div>
    <div class="time"></div>
</div>
<div class="weather-current">
    <div class="temp-all">
        <button id="temp">
            <div class="temp-current"></div>
            <div class="temp-max-min"></div>
        </button>
    </div>
    <div class="conditions">
        <img src="../img/weather-tornado.svg" alt="tornado icon">
        <div class="conditions-text"></div>
    </div>
    <div class="rain-proba">
        <img src="../img/weather-rainy.svg" alt="rain icon">
        <div class="rain-proba-text"></div>
    </div>
    <div class="wind-speed">
        <img src="../img/weather-windy.svg" alt="wind icon">
        <div class="wind-speed-text"></div>
    </div>
</div>
<div class="weather-forecast">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>